---
import Layout from "@/layouts/Layout.astro";
import ProfileView from "@/components/ProfileView";
---

<Layout title="Profile">
  <div id="profile-container">
    <ProfileView client:only />
  </div>
</Layout>
