---
import Layout from "@/layouts/Layout.astro";
import ProfileView from "@/components/ProfileView";
import { Toaster } from "@/components/ui/sonner";
---

<Layout title="Profile">
  <div id="profile-container">
    <ProfileView client:idle />
  </div>
  <Toaster client:idle />
</Layout>
